:root {
  color-scheme: dark;
  background-color: #121212;
  color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
